SECRET_KEY=cambia-esto-por-una-clave-segura
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
# DATABASE_URL=postgresql://user:password@host:5432/dbname  # Para producción
# CORS_ALLOWED_ORIGINS=https://tu-frontend.vercel.app
